*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn


!coap/bin/Debug/netcoreapp2.0/linux-arm

# Visual Studio 2015
.vs/